@import url(./Gerais.css);

/* Background - Home */

#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 115%;
    align-self: center;
    justify-self: center;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

/* GRID */

/* .border {
    border: 1px solid white;
} */

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh 84.5vh 5vh;
    grid-template-areas:
    "header header header"
    "left main right"
    "footer main footer2";
}

header {
    grid-area: header;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

#left {
    grid-area: left;
    padding: 30px;
}

#main {
    grid-area: main;
}

#right {
    grid-area: right;
    padding: 30px;
}

footer {
    grid-area: footer;
    padding: 5px;
}

#footer2 {
    grid-area: footer2;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    opacity: 0.2;
}

/* Header */

.navigation {
    display: flex;
    align-items: center;
    column-gap: 70px;
    list-style: none;
    padding: 10px;
    opacity: 0.5;
}

.navigation-link {
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.navigation-link:hover {
    color: var(--red);
}

.navigation-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: var(--blue);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

/* Audio */

audio {
    width: 100px;
    height: 30px;
    margin: none;
    padding: none;
}

audio, li {
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}

/* GRID - LEFT */

.IMG-Simbolo {
    width: 150px;
}

#left > p {
    font-size: 17px;
    margin-top: 30px;
}

.buttons {
    margin-top: 30px;
}

.buttons a {
    text-decoration: none;
}

.edit, .pag {
    width: 210px;
    height: 35px;
    border: none;
    border-radius: 3px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transform: skew(-20deg);
}

.edit {
    background-color: var(--red);
    transition: 0.4s;
}

.edit a:hover {
    color: blue;
    transition: 0.4s;
}

.pag {
    background-color: var(--blue);
    transition: 0.4s;
}

.pag a:hover {
    color: red;
    transition: 0.4s;
}

.navigation-social {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.navigation-social svg {
    width: 25px;
    height: 25px;
    opacity: 0.3;
    transition: all 0.4s;
}

.navigation-social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}

/* GRID - RIGHT */

.IMG-spider {
    width: 90%;
}

/* GRID - FOOTER */

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.2;
}

.IMG-rodape {
    width: 25px;
    height: 25px;
}

.rodape p {
    font-size: 16px;
}

/* GRID - FOOTER2 */

#footer2 > p {
    font-size: 16px;
}

.navigation-social2 {
    display: flex;
    gap: 20px;
}

.navigation-social2 svg {
    width: 25px;
    height: 25px;
    transition: all 0.4s;
}

.navigation-social2 svg:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

/* Media Query */

@media only screen and (min-width: 350px) and (max-width:670px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        list-style: none;
        opacity: 0.5;
    }
    
    .navigation-link {
        font-weight: 0;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }

    /* Left */

    #left > p {
        font-size: 14px;
        margin-top: 0px;
    }

    .buttons {
        margin-top: 65px;
        margin-left: 17px;
    }

    .buttons > button > a {
        font-size: 14px;
    }

    .edit, .pag {
        width: 140px;
        height: 35px;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        transform: skew(-20deg);
    }

    .navigation-social {
        margin-top: 65px;
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }
    
    #footer2 {
        grid-area: footer2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.2;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Display None */

    audio {
        display: none;
    }

    .IMG-Simbolo {
        display: none;
    }

    .IMG-spider {
        display: none;
    }

    #main {
        display: none;
    }

    #right {
        display: none;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 30px;
        margin-left: 30px;
        list-style: none;
        opacity: 0.5;
    }
    
    .navigation-link {
        font-weight: 0;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }

    /* Left */

    #left > p {
        padding: 20px;
        font-size: 18px;
        margin-top: 0px;
    }

    .buttons {
        margin-top: 60px;
    }

    .buttons > button > a {
        font-size: 14px;
    }

    .edit, .pag {
        width: 170px;
        height: 35px;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        transform: skew(-20deg);
    }

    .navigation-social {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }
    
    #footer2 {
        grid-area: footer2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.2;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Display None */

    audio {
        display: none;
    }

    .IMG-Simbolo {
        display: none;
    }

    .IMG-spider {
        display: none;
    }

    #main {
        display: none;
    }

    #right {
        display: none;
    }

    footer {
        display: none;
    }
}

@media only screen and (max-width: 415px) {
    #container {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0;
    }

    .logo {
        margin-top: 10px;
        width: 150px;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 19px;
        list-style: none;
        opacity: 0.5;
    }
    
    .navigation-link {
        font-weight: 0;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }

    /* Left */

    #left > p {
        font-size: 15px;
        margin-top: 20px;
    }

    .buttons {
        margin-top: 50px;
        margin-left: 10px;
    }

    .buttons > button > a {
        font-size: 14px;
    }

    .edit, .pag {
        width: 142px;
        height: 35px;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        transform: skew(-20deg);
    }

    .navigation-social {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }
    
    #footer2 {
        grid-area: footer2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.2;
        margin-top: 60px;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Display None */

    audio {
        display: none;
    }

    .IMG-Simbolo {
        display: none;
    }

    .IMG-spider {
        display: none;
    }

    #main {
        display: none;
    }

    #right {
        display: none;
    }

    footer {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .logo {
        width: 300px;
    }

    #container {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 60px;
        list-style: none;
        opacity: 1;
        margin-left: 30px;
    }
    
    .navigation-link {
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }

    #left > p {
        font-size: 28px;
        margin-top: 60px;
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
    }

    .buttons {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .buttons > button > a {
        font-size: 30px;
    }

    .edit, .pag {
        width: 300px;
        height: 70px;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        transform: skew(-20deg);
    }

    .navigation-social {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        column-gap: 80px;
    }
    
    .navigation-social svg {
        width: 40px;
        height: 40px;
        opacity: 0.3;
        transition: all 0.4s;
    }
    
    #footer2 {
        grid-area: footer2;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        opacity: 0.2;
        margin-left: 30px;
        margin-right: 30px;
    }

    #footer2 > p {
        font-size: 20px;
    }
    
    .navigation-social2 {
        display: flex;
        gap: 40px;
    }
    
    .navigation-social2 svg {
        width: 30px;
        height: 30px;
        transition: all 0.4s;
    }

    /* Display None */

    audio {
        display: none;
    }

    .IMG-Simbolo {
        display: none;
    }

    .IMG-spider {
        display: none;
    }

    #main {
        display: none;
    }

    #right {
        display: none;
    }

    footer {
        display: none;
    }

}

@media only screen and (min-width: 1020px) and (max-width: 1350px) {

    .logo {
        width: 300px;
        margin-top: 20px;
    }

    #container {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        list-style: none;
        opacity: 1;
        margin-left: 30px;
    }
    
    .navigation-link {
        font-weight: 300;
        font-size: 25px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }

    #left > p {
        font-size: 30px;
        margin-top: 80px;
        text-align: justify;
        margin-left: 30px;
        margin-right: 30px;
    }

    .buttons {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .buttons > button > a {
        font-size: 40px;
    }

    .edit, .pag {
        width: 350px;
        height: 70px;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        transform: skew(-20deg);
    }

    .navigation-social {
        margin-top: 150px;
        display: flex;
        justify-content: center;
        column-gap: 80px;
    }
    
    .navigation-social svg {
        width: 40px;
        height: 40px;
        opacity: 0.3;
        transition: all 0.4s;
    }
    
    #footer2 {
        grid-area: footer2;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
        opacity: 0.2;
        margin-left: 30px;
        margin-right: 30px;
    }

    #footer2 > p {
        font-size: 30px;
    }
    
    .navigation-social2 {
        display: flex;
        gap: 40px;
    }
    
    .navigation-social2 svg {
        width: 40px;
        height: 40px;
        transition: all 0.4s;
    }

    /* Display None */

    /* audio {
        display: none;
    } */

    .IMG-Simbolo {
        display: none;
    }

    .IMG-spider {
        display: none;
    }

    #main {
        display: none;
    }

    #right {
        display: none;
    }

    footer {
        display: none;
    }
}

/* FIM */